body{background-color:#000080}


p{color:DAA520}
h5{color:DAA520}
h3{color:DAA520}
h4{color:DAA520}
dl{text-align="left"}
h1{color:#FFFACD ;font-size:30}
ul{color:#FFDEAD;text-align="right"}
h2 {text-align: center;
color:#FFFACD ;font-size:220%}
dl{color:#FFDEAD}
h5 {font-style:oblique}

p {font-style:italic}


h4{text-align:center;color:#FFFACD}


h4{text-align:center}


hr{color:#DAA520}