BODY {
	FONT-SIZE: medium; BACKGROUND-IMAGE: url(../images/marble.gif); MARGIN: 0px; COLOR: #8b0000; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
#head {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 800px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #000000 1px solid; POSITION: relative
}
#header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 5px 5px 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #4682b4
}
#content {
	MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 0px
}
.navbar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 1em; PADDING-BOTTOM: 10px; MARGIN: 0px 5px; PADDING-TOP: 10px; BACKGROUND-COLOR: #4682b4
}
#main-text {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 1.5em; PADDING-BOTTOM: 10px; MARGIN: 5px; PADDING-TOP: 10px
}
IMG.home {
	MARGIN-LEFT: 150px; align: center
}
H3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; FONT-SIZE: 1.4em; PADDING-BOTTOM: 5px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 65%; PADDING-TOP: 5px; FONT-STYLE: italic; LETTER-SPACING: 5px; BACKGROUND-COLOR: #4682b4; TEXT-ALIGN: left
}
H1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 1.4em; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; FONT-STYLE: italic; LETTER-SPACING: 5px; TEXT-ALIGN: left
}
H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-DECORATION: underline
}
H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-STYLE: normal; LETTER-SPACING: 4px; TEXT-ALIGN: left
}
H4.assign {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; COLOR: #0000cd; PADDING-TOP: 0px; FONT-STYLE: normal; LETTER-SPACING: 5px; TEXT-ALIGN: left; FONT-VARIANT: small-caps
}
P.header {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN: 0px; COLOR: #8b0000; TEXT-ALIGN: left; FONT-VARIANT: small-caps
}
P.nav {
	TEXT-ALIGN: left
}
P {
	FONT-SIZE: 0.8em; MARGIN: 10px 35px 0px; LINE-HEIGHT: 1.2em; TEXT-ALIGN: justify
}
LI {
	FONT-SIZE: 0.8em; MARGIN: 10px 35px 0px; LINE-HEIGHT: 1.2em; TEXT-ALIGN: justify
}
DL {
	FONT-SIZE: 0.8em; MARGIN: 10px 35px 0px; LINE-HEIGHT: 1.2em; TEXT-ALIGN: justify
}
P.footer {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em
}
HR {
	WIDTH: 90%; COLOR: #4682b4; HEIGHT: 5px
}
A:link {
	COLOR: #8b0000
}
A:visited {
	COLOR: #8b0000
}
A:hover {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #bdb76b
}
A:active {
	
}
