/*this is the style sheet for my new home page 2 14 07*/

body
{
background-color:#071871; /*#4a60d7;#326D95;*/
/*background-image: url(../images/marble.gif);*/

color:#000; /*#8B0000;*/
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size:medium;
}

#head
{
position: relative;
width: 800px;
border: solid 1px #000000;
margin-right: 5px;
}

#header {
margin: 5px 45px 0px 35px;       
background-color: #31438c;
padding-right: 10px;
border: solid 2px #000000;
}

#content {
/*position: absolute; top: 5px; left:  220px; width: 675px;*/
border: solid 2px #000000;
background-color: #31438c;
margin: 5px 45px 0px 35px;
}

.navbar 
{
padding: 10px 5px;
font-size: 1em;
margin: 0px 5px;
background-color: #31438c;/*#4682B4; */
font-weight: bold;
/*border: solid 2px #000000;*/
}

.navbarfooter 
{
padding: 10px 5px;
font-size: 1em;

margin: 5px 45px 0px 35px;
background-color: #31438c;/*#4682B4; */
font-weight: bold;
border: solid 2px #000000;
}

#main-text 
{
border: solid 2px #000000;
margin: 45px;
padding: 10px;
font-size: 1.5em;
background-color: #91B9EC;
}

img.home
{
align: center;
margin-left:150px;
}

h1
{
font-size: 1.8em;
text-align: left;
font-style: italic;
color: #91B9EC;
/*letter-spacing: 5px;*/
padding: 10px 10px 10px 10px;
}

h2
{
font-size: 1.1em;
text-decoration: underline;
padding: 5px;
}

h4
{
font-size: .8em;
text-align: left;
font-style: normal;
letter-spacing: 4px;
padding: 0px 5px 0px 10px;
font-variant: small-caps;
}

h4.assign
{
font-size: 1em;
text-align: left;
font-style: normal;
letter-spacing: 5px;
padding: 5px 5px 5px 10px;
font-variant: small-caps;
color:  #91B9EC;
background-color: #326D95;
border: solid 2px #000000;
}

h5.explain
{
letter-spacing: 5px;
padding: 5px 5px 5px 10px;
font-variant: small-caps;
color:  #91B9EC;
background-color: #326D95;
border: solid 2px #000000;
text-decoration: none;
}

.explain
{
color:#91B9EC; 
}

p.header
{
text-align: left;
/*padding-left: 10px;*/
font-variant: small-caps;
font-weight: bold;
font-size: 1em;
margin: 0px;
}
p.nav
{
text-align: left;
margin-top: 1px 
margin-left: 0px;
}
p, li, dl
{
font-size: .8em;
text-align: justify;
line-height: 1.2em;
margin: 10px 35px 0px 50px;

}

p.footer 
{
font-size: .8em;
font-weight: bold;
/*text-align: center;*/
}

hr
{
color: #326D95; /*#4682B4;*/
width: 95%;
height: .3em;
border: solid 2px #000000;
}

a:link
{
color: #666; /*#8B0000;*/
/*background-color: #95b7cd;*/
text-decoration: none;
}
a:visited
{
color:#666; /*#8B0000;*/
text-decoration: none;
/*background-color: #95b7cd;*/
}

a:hover
{

background-color: #038cff; /*#91B9EC; #B0C4DE;*/
padding: 1px 1px
}

table {
  font-family: arial, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  background-color: #4682B4; 
  border: solid 2px #000000;
}

td, th {
  border: 1px solid #888888;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}